
* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  background-color:#EEE;
}
header{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}
#title {
  margin-top: 25px;
  margin-bottom: 10px;
}
#img-caption {
  text-align: center;
}
#image {
  width: 60%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  
}
#img-div {
  background: white;
  padding: 20px;
  max-width : 100%;
  
}
img {
  display: block;
  max-width: 100%;
  
}
#tribute-info {
  width: 30%;
  margin: 20px auto;
}
#tribute-info > p {
  text-align: center;
  font-weight:800; 
}
#tribute-info li {
  margin: 18px;
  font-size: 12px;
 
}
blockquote {
  font-style: italic;
}
footer {
  font-weight: 1000;
  text-align: center;
}
span {
  font-weight: 700;
}


